* {
  margin: 0;
  padding: 0;

  color: #eee;
  font-size: 10vmin;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: #222;
  overflow: hidden;
}

#test1 {
  position: absolute;
  top: 10%;
  left: 20%;
}

#test2 {
  position: absolute;
  top: 70%;
  left: 20%;
}

#test3 {
  position: absolute;
  top: 40%;
  left: 20%;
}

#increment-btn {
  position: absolute;
  top: 50%;
  left: 20%;
  padding: 1vh 2vw;

  font-size: 3vmin;

  border: none;
  background-color: #000;
}
